:root {
    /* Colors */
    --purple: #bd93f9;
    --hover-purple: #9875ca;
    --dark-purple: #19055a;
    --dark: #383a59;

}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--dark);
    color: #f2f2f2;
}

/* Background */
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Text Selection */
::-moz-selection {
    /* Code for Firefox */
    color: #1f1f1f;
    background: var(--purple);
}

::selection {
    color: #1f1f1f;
    background: var(--purple);
}

/* Elements */
.title {
    color: var(--purple);
    font-weight: 700 !important;
}

.description {
    letter-spacing: 0.099em;
    font-style: italic;
    font-variant: all-small-caps;
}

.btn-purple {
    background: var(--purple) !important;
    color: var(--dark-purple);
}

.btn-purple:hover {
    background: var(--hover-purple) !important;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);

    padding: 15px;
    position: fixed;
    border-radius: 5px;
}

.flex {
    display: flex;
}

.margin-15 {
    margin: 15px;
}

/* Responsive */
@media (max-width: 820px) {
    .btn-purple {
        width: 100%;
        margin: 5px 0 5px 0;
    }
}